line-length = 120
select = [
  "B",     # flake8-bugbear
  "D",     # pycodestyle
  "E",     # pycodestyle
  "F",     # pyflakes
  "I001",  # isort
  "Q",     # flake8-quotes
  "UP",    # pyupgrade
]
ignore = [
    # Don't require docstring in public modules/packages
    "D100", "D104",
    # Don't require docstring in classes
    "D101", "D106",
    # Don't require docstring in functions/methods
    "D102", "D103",
]
target-version = "py310"
task-tags = ["TODO", "FIXME", "XXX", "HACK"]

[flake8-quotes]
inline-quotes = "single"
multiline-quotes = "single"

[isort]
force-single-line = true
known-first-party = ["unbeheader"]
