name: linting

on:
  push:
    branches:
      - master
      - stable
  pull_request:
    branches:
      - master
      - stable

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: astral-sh/setup-uv@v7
      - name: Install package
        run: |
          make install
      - name: Run tests
        env:
          NO_COLORS: true  # Disable colors in ruff output
        run: |
          echo "::add-matcher::.github/matchers/mypy.json"
          echo "::add-matcher::.github/matchers/ruff.json"
          echo "::add-matcher::.github/matchers/unbehead.json"
          uv run -- make lint --keep-going
          echo "::remove-matcher owner=unbehead::"
          echo "::remove-matcher owner=ruff::"
          echo "::remove-matcher owner=mypy::"
